In [1]:
import pandas as pd 
import requests

In [9]:
BASE_URL = "http://localhost:8000"
# test
response = requests.get(f"{BASE_URL}/health_check")
assert response.status_code == 200

def query(sql_query):
    data = {"sql_query" : sql_query}
    response = requests.post(f"{BASE_URL}/query", json=data)
    if response.status_code == 200:
        if response:
            return response.json()['result']

# Création du dataset 'Films'

In [3]:
sql_query = """SELECT * FROM films"""
data = query(sql_query)
df = pd.DataFrame(data)
df.head(2)

,id,url,titre,synopsis,public,note_presse,nb_notes_presse,nb_critiques_presse,note_spectateurs,nb_notes_spectateurs,nb_critiques_spectateurs,date,duree,distributeur,recompenses,type,box_office_france,langues,couleur,nationalite
0,42303,https://www.allocine.fr//film/fichefilm_gen_cf...,Permis de construire,"Dentiste à Paris, Romain vient de perdre son p...",None,1.8,4.0,4.0,2.5,2195.0,343.0,9-03-2022,93.0,Warner Bros. France,0,Long métrage,562816.0,Français,Couleur,France
1,49021,https://www.allocine.fr//film/fichefilm_gen_cf...,Nine Days,Dans une maison éloignée de la civilisation vi...,None,NaN,NaN,NaN,3.4,51.0,4.0,27-02-2022,124.0,None,0,Long métrage,NaN,Anglais,Couleur,U.S.A.

In [4]:
df.to_csv('dataset/films.csv', sep='~', index=False)

# Création du dataset 'Critiques'

In [5]:
sql_query = """SELECT * FROM critiques"""
data = query(sql_query)
df = pd.DataFrame(data)
df.head(2)

,id,id_film,auteur,date,note,contenu,likes,dislikes
0,1,274347,I&#039;m A Rocket Man,17-08-2022,5.0,Oh my God ! Ce film est le meilleur que j'ai j...,1,0
1,2,274347,Spider cineman,4-01-2025,3.5,Drame familial lié à la drogue ça aurait pu êt...,1,0

In [6]:
df.shape

(14014, 8)

In [7]:
df.to_csv('dataset/critiques.csv', sep='~', index=False)

# Le reste

In [8]:
table_names = ['acteurs', 'scenaristes', 'realisateurs', 'categories', 'tags']
for table_name in table_names:
    sql_query = f"SELECT * FROM {table_name}"
    data = query(sql_query)
    df = pd.DataFrame(data)
    df.to_csv(f'dataset/{table_name}.csv', sep='~', index=False)